.btn{
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    

}
.button-container{
    margin-top: 30px;
    text-align: center;
}

.primary{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.secondary{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.warning{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
